.side-bar{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 72px;
}

.sidebar-link{
height: 74px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
z-index: 200;
padding-top: 4px;
cursor: pointer;
}

.sidebar-link:hover{
  background-color: rgb(235, 235, 235);
}

.sidebar-link img{
  height: 24px;
  
}

.sidebar-link {
font-family: Roboto,arial;
font-weight: bold;
font-size: 11px;
text-align: center;

}

